/* Common CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body,
html {
  color: #636363;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
}

/* Button CSS */

.btn {
  text-align: center;
  height: 60px;
  width: 170px;
  font-size: 0.8rem;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
}

.btn:hover {
  background-position: right center;
  cursor: pointer;
}

/* Header & Navigation CSS */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.header__nav {
  display: flex;
}
.header__nav ul {
  display: flex;
  list-style: none;

  align-items: center;
}

.header__nav li {
  margin-right: 25px;
}

.header__nav__item {
  text-decoration: none;
  color: #262626;
  font-weight: 500;
}
.header__nav i {
  margin-left: 3px;
  font-size: 0.5rem;
}

.header__btn {
  margin-left: 20px;
}

.header__nav__item span {
  display: inline-block;
  transition: 1s;
  font-size: 0.9rem;
}

.header__nav__item:hover {
  color: #f55f8d;
}

.header__nav__item:hover span {
  animation: upToDown 0.5s;
}

/* Carousel CSS */

.carousel {
  padding-top: 180px;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
}

.carousel__content {
  display: flex;
  justify-content: space-between;
}

.carousel__left {
  margin-top: 5%;
  width: 60%;
}

.carousel__right {
  width: 40%;
}

.subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.subtitle-2 {
  font-weight: 800;
  font-size: 70px;
  margin-bottom: 20px;
  line-height: 1.1;
  color: #262626;
}

.carousel__article p {
  font-size: 1rem;
  margin-bottom: 15px;
  width: 70%;
  color: #636363;
}
.carousel__article li {
  list-style: none;
  padding: 10px;
  font-size: 20px;
}
.carousel__article i {
  padding: 6px 6px;
  align-items: center;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  color: white;
  border-radius: 30px;
  margin-right: 10px;
  background-size: 200%;
  font-size: 24px;
}
.carousel__article button {
  margin-top: 5%;
}

/* Service */

.service {
  margin-top: 10%;
  text-align: center;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
}

.service .container {
  width: 80%;
  margin: auto;
}

.service__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.service__item {
  padding: 30px 45px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  transition: all 0.5s;
  transform: translateY(0);
  background-color: white;
}

.service__item:hover {
  transform: translateY(-5%);
}

.service__item img {
  width: 215px;
}

.service__item h3 {
  font-size: 1.5rem;
  margin-top: 10%;
}

/* About US */

.aboutUS {
  padding: 5% 0;
  background-image: url(../img/bg15.png);
  background-position: center right;
  background-repeat: no-repeat;
}

.about__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.about__left img {
  width: 100%;
  border-radius: 0px 100px 100px 0px;
}

.about__left {
  position: absolute;
  left: -17%;
  width: 60%;
}

.about__right {
  width: 50%;
}

.about__right p:nth-child(2) {
  font-weight: 300;
}

.about__right ul {
  margin-top: 5%;
  list-style: none;
  font-weight: 300;
}

.about__right i {
  font-size: 16px;
  padding: 3px 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 2px solid #f55f8d;
  color: #f55f8d;
  font-weight: 700;
}

.about__btn {
  padding: 5% 0;
}

/* Number CSS */

.number {
  margin: 3% 0;
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
}

.number .container {
  width: 80%;
}

.number__content {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.number__item {
  width: 25%;
}

.number__item i {
  font-size: 45px;
  padding: 10px 15px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border-radius: 50%;
  color: white;
  background-size: 200%;
  margin-bottom: 15px;
}

.number__item p:nth-child(2) {
  font-size: 65px;
  color: #f55f8d;
}

.number__item span {
  font-size: 65px;
}

/* Features CSS */

.features {
  padding: 20px 0;
  background-image: url(../img/bg2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.features .container {
  width: 80%;
}

.features__content {
  display: flex;
  justify-content: space-between;
}

.features__left,
.features__right {
  width: 50%;
}

.features__item {
  padding: 0 50px 30px 0;
}

.features__item i,
div {
  z-index: 1;
  transition: all 1s;
}

.features__group .features__item:nth-child(2) {
  padding: 0 0 30px 50px;
}

.features__bg {
  display: flex;
  padding: 30px;
  background-color: white;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 8px;
}

.features__bg div {
  padding-left: 25px;
}

.features__bg i {
  font-size: 80px;
  color: #f55f8d;
  line-height: 1;
}

.features__bg h3 {
  font-size: 1.5rem;
  color: black;
}
.features__bg div > p {
  font-size: 16px;
  font-weight: 300;
}

.features__right img {
  max-width: 100%;
}

.features__bg:hover i {
  color: white;
}
.features__bg:hover h3 {
  color: white;
}
.features__bg:hover p {
  color: white;
}

.features__bg::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.features__bg:hover::after {
  opacity: 1;
}

.features__picture {
  margin-right: -80px;
  animation: rotateLeftToRight 5s infinite;
}

/* Portfolio CSS */

.portfolio {
  padding: 80px 0;
}

.portfolio__title {
  text-align: center;
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio__item {
  position: relative;
  overflow: hidden;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.portfolio__content .item1 {
  grid-column: 1 / span 2;
}

.portfolio__content .item5 {
  grid-column: 1 / span 2;
}

.portfolio__content .item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}

.portfolio__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.5s;
}

.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  left: -100%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  display: block;
  transition: all 0.75s;
  overflow: hidden;
}

.portfolio__item:hover::before {
  left: 100%;
}

.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}

.portfolio__item:hover .portfolio__text,
.portfolio__item:hover .portfolio__icon {
  transform: translateY(0);
}

.portfolio__icon i {
  color: white;
}

.portfolio__icon {
  transform: translate(20px, -20px);
  transition: all 0.75s;
}

.portfolio__icon:hover {
  cursor: pointer;
}

.portfolio__text {
  transform: translateY(150px);
  transition: all 0.75s;
}

.portfolio__text h3 {
  font-size: 22px;
  color: white;
}
.portfolio__text p {
  font-size: 16px;
  color: white;
  opacity: 0.7;
  font-weight: 300;
}

.portfolio__icon i {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 12px;
  font-size: 28px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 10px;
  background-size: 200%;
}

.portfolio__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

/* Plan CSS */

.plan {
  padding: 40px 0;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
}

.plan .container {
  width: 60%;
}

.plan__title {
  text-align: center;
}

.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}

.plan__item__title {
  font-size: 2rem;
  color: #262626;
}

.plan__item__bg img {
  padding: 10px 0;
  width: 125px;
}

.plan__item {
  text-align: center;
  padding: 35px 60px;
  background-color: white;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-radius: 8px;
  color: #262626;
  border-image: 100 round;
  transition: all 0.5s;
  border: solid 3px transparent;
}

.plan__item:hover {
  border-image: url(../img/br.png) 1 round;
}

.plan__item__price {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  align-items: baseline;
}

.plan__item__price h1 {
  font-size: 50px;
  color: #f8ae56;
}

.plan__line {
  content: "";
  border-bottom: solid 0.5px #e1e1f0;
  width: 100%;
}

.plan__item__bg ul {
  padding: 20px 0;
  text-align: left;
  list-style-type: none;
}
.plan__item__bg li {
  padding: 5px 0;
  font-weight: 400;
}

.plan__item__bg i {
  margin-right: 15px;
  font-size: 14px;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  font-weight: bolder;
}

/* CSS Animation */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes rotateLeftToRight {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
